.Whoops.container {
    z-index: 99998;
}

.sf-toolbar-block.sf-toolbar-block-fullwidth .sf-toolbar-info {
    max-width: none;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    left: 0;
}

.sf-toolbar-previews {
    table-layout: auto;
    width: 100%;
}

.sf-toolbar-previews td {
    background-color: #444;
    border-bottom: 1px solid #777;
    color: #F5F5F5;
    font-size: 12px;
    padding: 4px;
}

.sf-toolbar-previews td.monospace {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 10px;
}

.sf-toolbar-previews td.sf-query {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 11px;
    white-space: normal;
    vertical-align: middle;
}

.sf-toolbar-previews tr:last-child td {
    border-bottom: 0;
}

.sf-toolbar-previews th {
    background-color: #222;
    border-bottom: 0;
    color: #AAA;
    font-size: 11px;
    padding: 4px;
}

.sf-minitoolbar .open-button svg {
    max-height: 18px;
    margin-top: 4px;
}
.sf-toolbar-block-config svg path,
.sf-toolbar-block-config svg .sf-svg-path {
    fill: #FF2929;
}
