
.sf-toolbarreset {
    background-color: #EEF1F3;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    color: #212529;
}

.sf-toolbarreset .hide-button, .sf-toolbarreset .hide-button:hover {
    background: #EEF1F3;
    color: var(--sf-toolbar-gray-800);
}

.sf-toolbar-block .sf-toolbar-value {
    color: #212529;
}

.sf-toolbar-block .sf-toolbar-label,
.sf-toolbar-block .sf-toolbar-class-separator {
    color: #212529;
}

.sf-toolbar-block hr {
    border-top: 1px solid #212529;
}

.sf-toolbar-block .sf-toolbar-info-group {
    border-bottom: 1px solid #212529;
}

div.sf-toolbar .sf-toolbar-block .sf-toolbar-info-piece a {
    color: #3439bc;
}

.sf-toolbar-block .sf-toolbar-info-piece b {
    color: #212529;
}

.sf-toolbar-block:not(.sf-toolbar-block-dump) .sf-toolbar-info-piece span {
    color: #212529;
}

.sf-toolbar-block:not(.sf-toolbar-block-dump) .sf-toolbar-info-piece span.sf-toolbar-status {
    color: #FFF;
}

.sf-toolbar-block .sf-toolbar-info {
    background-color: #fff;
    color: #212529;
}

.sf-toolbar-block .sf-toolbar-status {
    background-color: #212529;
}


.sf-toolbar-block .sf-toolbar-icon {
    color: var(--sf-toolbar-gray-800);
}

.sf-toolbar-block:hover .sf-toolbar-icon,
.sf-toolbar-block.hover .sf-toolbar-icon {
    background-color: #fff;
    border-bottom: 2px solid #4040c8;
    box-sizing: border-box;
}

.sf-toolbar-block:hover .sf-toolbar-info,
.sf-toolbar-block.hover .sf-toolbar-info {
    box-shadow: 0px -2px 6px rgba(0,0,0,0.1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sf-toolbar-info-piece b.sf-toolbar-ajax-info {
    color: #212529;
}

.sf-toolbar-ajax-requests td, .sf-toolbar-previews td {
    background-color: #fff;
    border-bottom: 1px solid #212529;
    color: #212529;
}

.sf-toolbar-ajax-requests th, .sf-toolbar-previews th {
    background-color: #EEF1F3;
    color: #212529;
}

@keyframes sf-blink {
    0% { background: #EEF1F3; }
    50% { background: #444; }
    100% { background: #EEF1F3; }
}

.sf-toolbar-block .sf-toolbar-info-piece-additional-detail {
    color: #EEF1F3;
}

.sf-error-toolbar .sf-toolbarreset {
    background: #EEF1F3;
    color: #212529;
}

.sf-error-toolbar .sf-toolbarreset a {
    color: #3439bc;
}
